for_test.ipynb
for_test.ipynb
Exploring data.ipynb
.ipynb_checkpoints/compustat processing-checkpoint.ipynb
.ipynb_checkpoints/exploring litigation data-checkpoint.ipynb
.ipynb_checkpoints/for_test-checkpoint.ipynb
.ipynb_checkpoints/Exploring data-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/2_Fung data processing-checkpoint.ipynb
.ipynb_checkpoints/litigation matching-checkpoint.ipynb
Exploring data.ipynb
.ipynb_checkpoints/matrix transform (교수님 일)-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/3_USPTO_hist Fung merge-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/1_USPTO Patent selection-checkpoint.ipynb