for_test.ipynb
for_test.ipynb
Exploring data.ipynb
.ipynb_checkpoints/compustat processing-checkpoint.ipynb
.ipynb_checkpoints/exploring litigation data-checkpoint.ipynb
.ipynb_checkpoints/for_test-checkpoint.ipynb
.ipynb_checkpoints/Exploring data-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/2_Fung data processing-checkpoint.ipynb
.ipynb_checkpoints/litigation matching-checkpoint.ipynb
Exploring data.ipynb
.ipynb_checkpoints/matrix transform (교수님 일)-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/3_USPTO_hist Fung merge-checkpoint.ipynb
1 patent data processing/.ipynb_checkpoints/1_USPTO Patent selection-checkpoint.ipynb
3 compustat/.ipynb_checkpoints/patent - compustat matching (Bio)-checkpoint.ipynb
2 app data processing/.ipynb_checkpoints/3_Get USAappcitation from USPTO XMLs-checkpoint.ipynb
3 compustat/.ipynb_checkpoints/patent - compustat matching (Bio)-checkpoint.ipynb
3 compustat/.ipynb_checkpoints/patent - compustat matching (Bio)-checkpoint.ipynb
3 compustat/.ipynb_checkpoints/patent - compustat matching (Bio)-checkpoint.ipynb
2 app data processing/.ipynb_checkpoints/3_Get USAappcitation from USPTO XMLs-checkpoint.ipynb
*.Rhistory
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/app citatation-checkpoint.ipynb
.ipynb_checkpoints/DB table 만들기-checkpoint.ipynb
3 compustat/.ipynb_checkpoints/compustat processing 05-07-checkpoint.ipynb
4 litigation/.ipynb_checkpoints/2_litigation matching (bio)-checkpoint.ipynb
4 litigation/.ipynb_checkpoints/2_litigation matching-checkpoint.ipynb
.ipynb_checkpoints/3 patent-checkpoint.ipynb
5 make features/.ipynb_checkpoints/1 app_citation-checkpoint.ipynb
.ipynb_checkpoints/2 compustat-checkpoint.ipynb